.board-root {
    display: flex;
    flex-direction: column;
    background-color: #00334d;
}

.board-main {
    padding: 2rem;
    width: auto;
}

.addBtn {
    margin-top: 2rem;
}

.panel-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
}

.panel {
    background-color: #005780 !important;
    min-height: 75vh;
    width: 260px;
    padding: 5px;
}

.panel-title {
    color: white;
    text-align: left;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 10px;
}
