.card-root {
    background-color: #bfbfbf;
    margin: 10px;
}

.card-content {
    cursor: pointer;
}

.bug-title {
    text-transform: capitalize;
    font-size: 14px;
}

.card-text {
    font-size: 12px !important;
}

.card-users {
    text-transform: capitalize;
}

.circle-icon {
    width: 30px;
    height: 30px;
    color: grey;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.delete-icon {
    width: 30px;
    height: 30px;
}