.form-container {
    padding-top: 3rem;
    width: 100%;
}

.right-panel {
    background-color: #e6e6e6 !important;
}

.avatar {
    background-color: #00334d !important;
}

.roleSelect {
    width: 100%;
}

.signIn-link {
    padding-top: 1rem;
}