.grid {
    height: 100vh;
}

.image {
    background-image: url("../../Images/login-bg.gif");
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.right-panel {
    background-color: #e6e6e6 !important;
}

.paper {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    background-color: #00334d !important;
}

.form {
    width: 100%;
    margin-top: 1rem;
}

.submit {
    padding-top: 1rem;
    margin: auto;
}

.form-container {
    padding-top: 3rem;
    width: 100%;
}

.signUp-link {
    padding-top: 1rem;
}