.grid {
    height: 100vh;
}

.image {
    background-image: url("../../Images/code.jpg");
    background-repeat: no-repeat;
    background-color: grey;
    background-size: cover;
    background-position: center;
}

.paper {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    background-color: grey;
}

.form {
    width: 100%;
    margin-top: 1rem;
}

.submit {
    margin: 2rem;
}