.nav-root ul {
      margin: 0;
      padding: 0;
      list-style: none;
}

.appBar {
    border-bottom: 1px solid;
}

.toolbar {
    flex-wrap: wrap;
    background-color: #00334d;
}

.toolbarTitle {
    flex-grow: 1;
}

.user-label {
    color: #f50057;
}

.username {
    text-transform: capitalize;
    color: white;
}