# This is a basic workflow to help you get started with Actions

name: Firebase Build CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # Checkout master, since default branch
      - uses: actions/checkout@v2
      # We want to specify a specific node version here
      - name: Set node version
        uses: actions/setup-node@v1
        with:
          node-version: "v12.18.4"
      # Install deps
      - name: Install dependency
        working-directory: ./client
      - run: npm ci
      # Create build directory
      - run: npm run build
      # Upload artifact to be shared by jobs
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: build
          path: ./client/build
  deploy:
     runs-on: ubuntu-latest
     # Build production files and deploy to Firebase hosting
     steps:
       - name: Checkout repo master
         uses: actions/checkout@v2
       - name: Download Artifact
         uses: actions/download-artifact@master
         with:
          name: build
       - name: Deploy to Firebase
         uses: w9jds/firebase-action@master
         with:
          args: deploy --only hosting
         env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
